/*************************
 * VII. Subscription     *
 *************************/
.account-subscription {
  .subscription-list {
    .subscription {
      margin-bottom: 2em;
      border: 1px solid lighten(@color-gray, 20%);

      .heading {
        padding: 2em;
        background: @color-gray;

        .name {
          color: white;
          font: 1.5em OpenSansBold;
        }

        .status {
          color: white;
          font: 1em OpenSansSemiBoldItalic;
        }
      }

      .subscription-details {
        background: @color-gray-light;
        padding: 2em;

        .section {
          padding: 1em 0;

          & + .section {
            border-top: 1px solid lighten(@color-gray, 20%);
          }

          &.address {
            padding: 2em 0;
          }
        }
      }

      .input-item {
        margin-bottom: .5em;
      }

      .save-form {
        margin: 0;
      }

      .more-actions {
        a {
          display: block;
          color: @font-light;
          text-decoration: underline;
          text-transform: uppercase;
          font: .8em OpenSansItalic;

          & + a {
            margin-top: .5em;
          }
        }
      }

      .select-box-list {
        margin-top: 1em;
        padding: 0;

        label {
          min-width: 16em;
          margin: 0 0 1em 0;

          .select-box {
            margin: 0;
          }
        }
      }
    }
  }
}

#checkout-subscribe {
  .box-info {
    .name {
      font-size: 3em;
      color: @color-light;
    }

    .description {
      font-size: 1.3em;
    }

    .options {
      margin-top: 1em;
      text-align: left;

      .option {
        font-size: 1.2em;

        &:before {
          content: url("@{themepath}image/checkmark-small.png");
          margin-right: 10px;
          position: relative;
          top: 4px;
        }
      }
    }
  }

  #subscribe-form {
    h2 {
      margin-bottom: .2em;
    }

    .address-select {
      margin-bottom: 1em;
    }
  }

  .subscription-submit {
    text-align: center;

    .price {
      font-size: 1.5em;
    }

    button {
      margin-top: .2em;
    }
  }
}

.braintree-register-card {
  .braintree-form-row {
    text-align: center;
    .form-item {
      margin: auto auto 15px;

      &.card-number {
        input {
          text-align: center;
        }
      }

      &.cvv-code {
        width: 120px;
        input {
          text-align: center;
        }
      }

      &.expiration {
        input {
          width: 120px;
        }
      }
    }
  }
}

.block-select-card {
  .card-list {
    .ac-radio {
      .card {
        .card-type {
          text-align: center;
        }
      }
    }
  }

  .add-card {
    display: block;
    text-align: center;
    margin-top: .3em;
    font-size: 1.3em;
  }
}
